$border-liner-color: linear-gradient(135deg,rgba(76,119,83,.4) 0,rgba(76,119,83,.01) 100%);
$main-bg-color: linear-gradient(#85898a 0,#e5e6e8 100%);
$white1: #f1f1f1;
$white: #fff;
$label: #323232;
$text-color: #4c7753;
