<div class="workers">
  <div class="workers__data">
    <div class="workers__data-about workers__about-block">
      <h2 class="workers__title">
        <span class="workers__change-color">
          About
        </span>
        Me
      </h2>
      <p class="workers__about-content">
        <b>Hello! I’m Mher Frangyan.</b>
        Talented and experienced front-end developer
        with a wide range of working and programming
        skills. Experience has taught me to value
        responsiveness and accessibility, to be able to
        work for a reliable and supportive company
        that will help me develop, enhance, and acquire
        the skills I need to become a better specialist.
      </p>
      <div class="workers__content-list">
        <div>
          <div class="workers__content-list-item">
            <h4 class="age"> age . . . . . </h4>
            <span class="age-value">{{ calculateAge() }}</span>
          </div>
          <div class="workers__content-list-item">
            <h4 class="age"> RESIDENCE . . . . .</h4>
            <span class="age-value">Armenia</span>
          </div>
        </div>
        <div>
          <div class="workers__content-list-item">
            <h4 class="age"> ADDRESS . . . . .</h4>
            <span class="age-value">Yerevan, RA</span>
          </div>
        </div>
      </div>
    </div>
    <div class="workers__data-services workers__about-block">
      <h2 class="workers__title">
        <span class="workers__change-color">
          My
        </span>
        Services
      </h2>
      <div class="workers__services">
          <div class="workers__services-item">
            <div class="workers__services-item_list">
              <span class="workers__services-icon">
              <fa-icon [icon]="html" [size]="'2x'"></fa-icon>
              </span>
              <span class="workers__services-icon">
                <fa-icon [icon]="css" [size]="'2x'"></fa-icon>
              </span>
<!--              <span class="workers__services-icon">-->
<!--                <fa-icon [icon]="bt" [size]="'2x'"></fa-icon>-->
<!--              </span>-->
              <span class="workers__services-icon">
                <fa-icon [icon]="js" [size]="'2x'"></fa-icon>
              </span>
              <span class="workers__services-icon">
                <fa-icon [icon]="angular" [size]="'2x'"></fa-icon>
              </span>
            </div>
            <div class="workers__services-desc">
              <h4>Front-end</h4>
              Modern and mobile-ready website that will
              help you reach all of your marketing.
          </div>
        </div>
<!--        <div class="workers__services-item">-->
<!--          <div class="workers__services-item_list">-->
<!--             <span class="workers__services-icon">-->
<!--              <fa-icon [icon]="js" [size]="'2x'"></fa-icon>-->
<!--             </span>-->
<!--          </div>-->
<!--          <div class="workers__services-desc">-->
<!--            <h4>JavaScript</h4>-->
<!--            Modern and mobile-ready website that will-->
<!--            help you reach all of your marketing.-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="workers__services-item">-->
<!--          <div class="workers__services-item_list">-->
<!--              <span class="workers__services-icon">-->
<!--              <fa-icon [icon]="angular" [size]="'2x'"></fa-icon>-->
<!--              </span>-->
<!--          </div>-->
<!--          <div class="workers__services-desc">-->
<!--            <h4>Angular 2+</h4>-->
<!--            Modern and mobile-ready website that will-->
<!--            help you reach all of your marketing.-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
